<app-arrow-scroller>
  <div class="content" dir="rtl" #scrollableContent style="width: 100%;overflow: scroll;white-space: nowrap; display:inline-block">
      <div style="width: 100px; height: 200px; background-color:red;display:inline-block"> </div>
       <div style="width: 100px; height: 200px; background-color:red;display:inline-block"> </div>
        <div style="width: 100px; height: 200px; background-color:red;display:inline-block"> </div>
         <div style="width: 100px; height: 200px; background-color:red;display:inline-block"> </div>
          <div style="width: 100px; height: 200px; background-color:red;display:inline-block"> </div>
  </div>
</app-arrow-scroller>