* {
  font-family: 'Lato', sans-serif;
}

.content {
 width: 500px;
 overflow: scroll;
 white-space: nowrap;
 display: inline-block;
}

.content::-webkit-scrollbar {
  display: none;
}

.box {
  width: 100px;
  height: 200px; 
  background-color:red;
  display: inline-block;
  text-align: center;
}

.box1 {
  width:50px;

}

.box2 {
  width: 75px;
}
